.base-container {
  min-width: 30em;
  background-color: /*rgba(246, 247, 235, 1);*/ white;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);

  .content {
    .header {
      padding: 1em;
      h3 {
        font-size: 20px;
        color: rgba(0, 159, 183, 1);
      }
      p {
        font-weight: bold;
        color: gray;
      }
    }
    .form {
      .form-group {
        input {
          margin-top: 30px;
          min-width: 18em;
          border: 0;
          border-bottom: 0.5px solid lightgray;
          background-color: /*rgba(246, 247, 235, 1);*/ white;
          border-radius: 2px;
          padding: 1em;
          &:focus {
            outline: 0;
          }
        }
        .inputError {
          transition-property: box-shadow;
          transition-duration: 0.25s;
          &:focus {
            box-shadow: 0px 0px 10px 0.5px red;
          }
        }
        .inputSuccess {
          transition-property: box-shadow;
          transition-duration: 0.25s;
          &:focus {
            box-shadow: 0px 0px 10px 0.5px green;
          }
        }
        .error {
          color: red;
          font-family: 'Lato';
          font-size: 12px;
          margin: 2px;
          transition-duration: 0.25s;
        }
      }
    }
  }
  .btn {
    font-weight: bold;
    min-width: 20em;
    padding: 1.2em;
    border: 0;
    border-radius: 4px;
    color: white;
    background-color: rgba(0, 159, 183, 1);
    margin-bottom: 30px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: #2386c8;
    }
    &:focus {
      outline: none;
    }
    /* background-image: linear-gradient(to bottom right,#1565C0) */
  }
  .footer {
    margin-top: 50px;
  }
}
